In [1]:

mixed_list = [42, 3.14, "hello", True, [1, 2, 3]]


print("Mixed List:", mixed_list)


for i in mixed_list:
    print(f"i: {i}, Type: {type(i)}")

Mixed List: [42, 3.14, 'hello', True, [1, 2, 3]]
i: 42, Type: <class 'int'>
i: 3.14, Type: <class 'float'>
i: hello, Type: <class 'str'>
i: True, Type: <class 'bool'>
i: [1, 2, 3], Type: <class 'list'>

In [3]:

my_list = [1, 2, 3, 4, 5]


element_to_check = 7


if element_to_check in my_list:
    print(f"{element_to_check} is in the list.")
else:
    print(f"{element_to_check} is not in the list.")

7 is not in the list.

In [5]:
my_list = [1, 2, 3, 4, 5]
print(len(my_list))

5

In [9]:
n=[1,2,3,4,5]

sqlist=[x**2 for x in n]

print(sqlist)

[1, 4, 9, 16, 25]

In [23]:

n = [1, 2, 3, 4, 7, 4, 5]
n = set(n)
print(sorted(n,reverse=True))

[7, 5, 4, 3, 2, 1]

In [26]:
ls1=[1,2,3,4,5]
ls2=[5,4,3,6,2,1]
set1=set(ls1)
set2=set(ls2)
if set1==set2:
    print("list is same")
else:
    print ("not same")

not same

In [28]:
ls1=[1,2,3,4,5]
ls2=[5,4,3,2,1]
ls1.sort()
ls2.sort()
if ls1==ls2:
    print("list is same")
else:
    print ("not same")

list is same

In [30]:
ls1=[1,3,5,7]
ls1.remove(3)
ls1.pop(0)
print(ls1)

[5, 7]

In [1]:
import numpy as np
arr=np.array([1,2,3,4,5])
float_arr=np.asarray(arr, dtype=float)
print(float_arr)

[1. 2. 3. 4. 5.]

In [1]:
import numpy as np


my_list = [1, 2, 3, 4, 5]


my_tuple = (6, 7, 8, 9, 10)


list_array = np.array(my_list)

tuple_array = np.array(my_tuple)

print("List:", my_list)
print("Tuple:", my_tuple)

print("List Array:", list_array)
print("Tuple Array:", tuple_array)

list_array = np.delete(list_array, np.where(list_array == 1)[0][0])

print(list_array)

List: [1, 2, 3, 4, 5]
Tuple: (6, 7, 8, 9, 10)
List Array: [1 2 3 4 5]
Tuple Array: [ 6  7  8  9 10]
[2 3 4 5]

In [20]:
arr=[9,5,9,6,7,8,3,2,6,5,4]

x=(arr[0:5])
print(x)

[9, 5, 9, 6, 7]

In [25]:
str="enter a string"
x=list(str)
print(x)
rev=str[-1]+str[1:-1]+str[0]
print(rev)

['e', 'n', 't', 'e', 'r', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g']
gnter a strine